@font-face {
    font-family: bebasRegular;
    src: url(../assets/fonts/Bebas/TSBebasAR-Regular.otf);
}

@font-face {
    font-family: bebasThin;
    src: url(../assets/fonts/Bebas/TSBebasAR-Thin.otf);
}

@font-face {
    font-family: bebasBold;
    src: url(../assets/fonts/Bebas/TSBebasAR-Bold.otf);
}

@font-face {
    font-family: bebasLight;
    src: url(../assets/fonts/Bebas/TSBebasAR-Light.otf);
}

@font-face {
    font-family: bebasBook;
    src: url(../assets/fonts/Bebas/TSBebasAR-Book.otf);
}
