:root {

    --main-color:#2c3e50;
    --secondary-color:#18bc9c;
    --dark-color:#162635;

    --main-font:bebasRegular;
    --bold-font:bebasBold;
    --book-font:bebasBook;
    --light-font:bebasLight;
    --thin-font:bebasThin;
    --jaz-font:jazeera;
}